{% extends "base.html" %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}
<div class="main__content">
				<!-- movie -->
				<section class="movie">
					<!-- bg (can be removed) -->
					<img class="movie__bg" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">

					<div class="container">
						<div class="row">
							<!-- movie content -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<div class="movie__content">
									<h1 class="hero__title">{{ movie.title }}<sub class="gold">{{ movie.vote_average | round(1) }}</sub></h1>
									<p class="hero__text">{{ movie.overview }}</p>
									<ul class="hero__meta">
										<li><span>Production Companies:</span>
											<ul style="display: flex; width: fit-content;" class="list-unstyled">
												{% for company in movie.production_companies %}
													<li><a href="actor.html">{{ company.name }}</a></li>
												{% endfor %}
											</ul>
										</li>
										<li><span>Adult:</span> <a href="actor.html">{{ movie.adult }}</a></li>
										
										<li><span>Genre:</span> <a href="catalog1.html">{{ movie.genres.name }}</a></li>
										
										<li><span>Premiere:</span> {{ movie.release_date }}</li>
										<li><span>Running time:</span> {{ movie.runtime }} min</li>
										<li><span>Country:</span> <a href="catalog1.html">{{ movie.production_countries[0].name }}</a></li>
									</ul>
									<div class="hero__hash" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="You earn FXC per min">
										<img src="img/currencies/flixcoin.svg" alt="">
										<span>+ 0.005</span>
										<span>/ min</span>
									</div>
									<div class="hero__actions">
										<a href="{{ video }}" download="{{ movie.title }}.mp4" class="hero__btn" style="text-decoration: none;">
											<span>Download Free</span>
										</a>
										<button class="hero__favorite" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
												<path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"/>
											</svg>
										</button>
									</div>

									<!-- player -->
									<div class="hero__player" style="margin-top: 20px; height: 100%; width: 100%; ">
										<iframe style="border-radius: 20px; height: 100%; width: 100%;" src="{{ video }}" title="{{ movie.name }}" marginheight="100" marginwidth="100" height="100%" width="100%" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<!-- end player -->
								</div>
							</div>
							<!-- end movie content -->
						</div>
					</div>
				</section>
				<!-- end movie -->

				<!-- tabs -->
				<div class="section section--pt0">
					<div class="container">
						<div class="row">
							<!-- tabs nav -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<ul class="nav nav-tabs main__tabs-nav main__tabs-nav--movie" id="tabs-main" role="tablist">
								

									<li class="nav-item" role="presentation">
										<button id="02main-tab" data-bs-toggle="tab" data-bs-target="#tab-main02" type="button" role="tab" aria-controls="tab-main02" aria-selected="false">Reviews {{ reviews.total_results }}</button>
									</li>
								</ul>
							</div>
							<!-- end tabs nav -->

							<!-- tabs content -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<div class="tab-content main__tabs-content">

									<div class="tab-pane fade" id="tab-main02" role="tabpanel" aria-labelledby="02main-tab" tabindex="0">
										<div class="row">
											<!-- reviews -->
											<div class="col-12">
												<div class="reviews">
													<div class="reviews__list">
														{% for review in reviews.results %}
														<div class="reviews__item reviews__item--silver">
															<div class="reviews__author">
																<span class="reviews__name">{{ review.author }}</span>
																<span class="reviews__time">{{ review.updated_at | format_timestamp }}</span>

																<span class="reviews__rating reviews__rating--silver">{{ review.rating }}</span>
															</div>
															<p class="reviews__text">{{ review.content }}</p>
														</div>
														{% endfor %}

													<form action="#" id="add-review" class="sign__form sign__form--reviews">
														<div class="row">
															<div class="col-12 col-md-6">
																<div class="sign__group">
																	<span class="sign__label">Title</span>
																	<input name="titlereview" type="text" class="sign__input" placeholder="Short review title">
																</div>
															</div>

															<div class="col-12 col-md-6">
																<div class="sign__group">
																	<span class="sign__label">Rating</span>
																	<div class="rating">
																		<input value="10" name="rate" id="star10" type="radio">
																		<label title="10" for="star10"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 8h1v8"/><path d="M14 10v4a2 2 0 1 0 4 0v-4a2 2 0 1 0 -4 0"/></svg></label>

																		<input value="9" name="rate" id="star9" type="radio">
																		<label title="9" for="star9"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-6a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3"/></svg></label>

																		<input value="8" name="rate" id="star8" type="radio">
																		<label title="8" for="star8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12h-1a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1zh-1a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1"/></svg></label>

																		<input value="7" name="rate" id="star7" type="radio">
																		<label title="7" for="star7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 8h4l-2 8"/></svg></label>

																		<input value="6" name="rate" id="star6" type="radio">
																		<label title="6" for="star6"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3"/></svg></label>

																		<input value="5" name="rate" id="star5" type="radio">
																		<label title="5" for="star5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3v-4h4"/></svg></label>
																	</div>
																</div>
															</div>

															<div class="col-12">
																<div class="sign__group">
																	<span class="sign__label">Review</span>
																	<textarea id="textreview" name="textreview" class="sign__textarea" placeholder="Write your review"></textarea>
																</div>
															</div>

															<div class="col-12">
																<button type="button" class="sign__btn sign__btn--small"><span>Send</span></button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<!-- end reviews -->
										</div>
									</div>
								</div>
							</div>
							<!-- end tabs content -->
						</div>
					</div>
				</div>
				<!-- end tabs -->
				 {% endblock %}