{% extends "base.html" %} {% block title %}TV Series{% endblock %} {% block content
	%}
			<div class="main__content">
				<!-- movie -->
				<section class="movie">
					<!-- bg (can be removed) -->
					<img class="movie__bg" src="https://image.tmdb.org/t/p/w500{{ series.poster_path }}" alt="">

					<div class="container">
						<div class="row">
							<!-- movie content -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<div class="movie__content">
									<h1 class="hero__title">{{ series.name }} <sub class="gold">{{ series.vote_average | round(1) }}</sub></h1>
									<p class="hero__text">{{ series.overview }}</p>
									<ul class="hero__meta">
										{% for dir in series.created_by %}
										<li><span>Director:</span> <a href="actor.html">{{ dir.name }}</a></li>
										{% endfor %}
										{% for cast in series.cast %}
										<li><span>Cast:</span> <a href="actor.html">{{ cast.name }}</a></li>
										{% endfor %}
										{% for genre in series.genres %}
										<li><span>Genre:</span> <a href="catalog1.html">{{ genre.name }}</a></li>
										{% endfor %}
										<li><span>Genre:</span> <a href="catalog1.html">{{ series.genre }}</a>
										<a href="catalog1.html">Triler</a></li>
										<li><span>Premiere:</span> {{ series.first_air_date }}</li>
										<li><span>Seasons:</span> {{ series.number_of_seasons }}</li>
										<li><span>Episodes:</span> {{ series.number_of_episodes }}</li>
										{% for country in series.origin_country %}
										<li><span>Country:</span> <a href="catalog1.html">{{ country }}</a></li>
										{% endfor %}
									</ul>
									<div class="hero__hash" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="You earn FXC per min">
										<img src="img/currencies/flixcoin.svg" alt="">
										<span>+ 0.005</span>
										<span>/ min</span>
									</div>
									<div class="hero__actions">
										<button class="hero__btn hero__btn--review" type="button"><span>Add review</span></button>
										<button class="hero__favorite" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"/></svg></button>
									</div>

									<!-- player -->
									<div class="hero__player" style="margin-top: 20px; height: 100%; width: 100%; ">
										<iframe style="border-radius: 20px; height: 100%; width: 100%;" src="{{ series_url }}" title="{{ series.name }}" marginheight="100" marginwidth="100" height="100%" width="100%" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
										<!-- end plyr js video -->

										<div class="movie__select">
											<!-- season drop -->
											<div class="dropdown sign__dropdown sign__dropdown--type2">
												<button class="sign__dropdown-btn" type="button" id="seriesDrop00" data-bs-toggle="dropdown" aria-expanded="false">
													<span>Season 1</span>
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6"/></svg>
												</button>

												<div class="dropdown-menu sign__dropdown-menu" aria-labelledby="seriesDrop00">
													<ul class="sign__currencies">
														{% for season in seasons %}
														<li><span>Season {{ season.season_number }}</span></li>
														{% endfor %}
													</ul>
												</div>
											</div>
											<!-- end season drop -->

											<!-- series drop -->
											<div class="dropdown sign__dropdown sign__dropdown--type2">
												<button class="sign__dropdown-btn" type="button" id="seriesDrop01" data-bs-toggle="dropdown" aria-expanded="false">
													<span>Series 1</span>
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6"/></svg>
												</button>

												<div class="dropdown-menu sign__dropdown-menu" aria-labelledby="seriesDrop01">
													<ul class="sign__currencies">
														{% for episode in episodes %}
														<li><span>Episode {{ episode.episode_number }}</span></li>
														{% endfor %}
													</ul>
												</div>
											</div>
											<!-- end series drop -->
										</div>
									</div>
									<!-- end player -->
								</div>
							</div>
							<!-- end movie content -->
						</div>
					</div>
				</section>
				<!-- end movie -->

				<!-- tabs -->
				<div class="section section--pt0">
					<div class="container">
						<div class="row">
							<!-- tabs nav -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<ul class="nav nav-tabs main__tabs-nav main__tabs-nav--movie" id="tabs-main" role="tablist">
									<li class="nav-item" role="presentation">
										<button id="01main-tab" class="active" data-bs-toggle="tab" data-bs-target="#tab-main01" type="button" role="tab" aria-controls="tab-main01" aria-selected="true">Comments (628)</button>
									</li>

									<li class="nav-item" role="presentation">
										<button id="02main-tab" data-bs-toggle="tab" data-bs-target="#tab-main02" type="button" role="tab" aria-controls="tab-main02" aria-selected="false">Reviews (3)</button>
									</li>
								</ul>
							</div>
							<!-- end tabs nav -->

							<!-- tabs content -->
							<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0 col-xxl-8 offset-xxl-2">
								<div class="tab-content main__tabs-content">
									<div class="tab-pane fade show active" id="tab-main01" role="tabpanel" aria-labelledby="01main-tab" tabindex="0">
										<div class="row">
											<!-- comments -->
											<div class="col-12">
												<div class="comments">
													<ul class="comments__list">
														<li class="comments__item">
															<div class="comments__author">
																<span class="comments__name">NeoStream88</span>
																<span class="comments__time">May 20, 2025, 3:47 PM</span>
															</div>
															<p class="comments__text">🌊 This was way deeper than I expected. The science angle was actually believable, and the pacing kept me hooked. I’d honestly watch a prequel just to see how she developed the tech.</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/></svg>12</button>

																	<button type="button">7<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3"/></svg></button>
																</div>

																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 14l4 -4l-4 -4"/><path d="M19 10h-11a4 4 0 1 0 0 8h1"/></svg>Reply</a>
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/><path d="M19 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/></svg>Quote</a>
															</div>
														</li>

														<li class="comments__item comments__item--answer">
															<div class="comments__author">
																<span class="comments__name">CoreUnit0x</span>
																<span class="comments__time">May 20, 2025, 4:15 PM</span>
															</div>
															<p class="comments__text">🧪 Loved how it blended renewable energy with suspense. Rare to see climate sci-fi done right. 🔋🌊</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/></svg>8</button>

																	<button type="button">3<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3"/></svg></button>
																</div>

																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 14l4 -4l-4 -4"/><path d="M19 10h-11a4 4 0 1 0 0 8h1"/></svg>Reply</a>
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/><path d="M19 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/></svg>Quote</a>
															</div>
														</li>

														<li class="comments__item comments__item--quote">
															<div class="comments__author">
																<span class="comments__name">RippleTheory</span>
																<span class="comments__time">May 20, 2025, 4:32 PM</span>
															</div>
															<p class="comments__text"><span>“With great power comes great consequences — and this film rides that wave perfectly.”</span> 💬 The visuals of the ocean currents were stunning. Feels like a warning for our time wrapped in a sci-fi thriller.</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/></svg>11</button>

																	<button type="button">1<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3"/></svg></button>
																</div>

																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 14l4 -4l-4 -4"/><path d="M19 10h-11a4 4 0 1 0 0 8h1"/></svg>Reply</a>
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/><path d="M19 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/></svg>Quote</a>
															</div>
														</li>

														<li class="comments__item">
															<div class="comments__author">
																<span class="comments__name">EchoAI_91</span>
																<span class="comments__time">May 20, 2025, 5:08 PM</span>
															</div>
															<p class="comments__text">🧠 Brilliant concept. Feels like this could actually happen in our world. Science + tension = win.</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/></svg>99</button>

																	<button type="button">35<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3"/></svg></button>
																</div>

																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 14l4 -4l-4 -4"/><path d="M19 10h-11a4 4 0 1 0 0 8h1"/></svg>Reply</a>
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/><path d="M19 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/></svg>Quote</a>
															</div>
														</li>

														<li class="comments__item">
															<div class="comments__author">
																<span class="comments__name">YourComment</span>
																<span class="comments__time">May 20, 2025, 5:25 PM</span>
															</div>
															<p class="comments__text">🚨 Some of the dialogue was a bit clunky, but that ending? Gave me chills. 🔥 Definitely watching again.</p>
															<div class="comments__actions">
																<div class="comments__rate">
																	<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/></svg>74</button>

																	<button type="button">13<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3"/></svg></button>
																</div>
																
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 14l4 -4l-4 -4"/><path d="M19 10h-11a4 4 0 1 0 0 8h1"/></svg>Reply</a>
																<a href="#reply-id"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/><path d="M19 11h-4a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v6c0 2.667 -1.333 4.333 -4 5"/></svg>Quote</a>
															</div>
														</li>
													</ul>

													<!-- paginator mobile -->
													<div class="paginator-mob paginator-mob--comments">
														<span class="paginator-mob__pages">5 of 628</span>

														<ul class="paginator-mob__nav">
															<li>
																<a href="#">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6"/></svg>
																	<span>Prev</span>
																</a>
															</li>
															<li>
																<a href="#">
																	<span>Next</span>
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6"/></svg>
																</a>
															</li>
														</ul>
													</div>
													<!-- end paginator mobile -->

													<!-- paginator desktop -->
													<ul class="paginator paginator--comments">
														<li class="paginator__item paginator__item--prev">
															<a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6"/></svg></a>
														</li>
														<li class="paginator__item"><a href="#">1</a></li>
														<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
														<li class="paginator__item"><a href="#">3</a></li>
														<li class="paginator__item"><a href="#">4</a></li>
														<li class="paginator__item"><span>...</span></li>
														<li class="paginator__item"><a href="#">36</a></li>
														<li class="paginator__item paginator__item--next">
															<a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6"/></svg></a>
														</li>
													</ul>
													<!-- end paginator desktop -->

													<form action="#" id="reply-id" class="sign__form sign__form--comments">
														<div class="sign__group">
															<textarea id="text0" name="text0" class="sign__textarea" placeholder="Write your response"></textarea>
														</div>

														<button type="button" class="sign__btn sign__btn--small"><span>Send</span></button>
													</form>
												</div>
											</div>
											<!-- end comments -->
										</div>
									</div>

									<div class="tab-pane fade" id="tab-main02" role="tabpanel" aria-labelledby="02main-tab" tabindex="0">
										<div class="row">
											<!-- reviews -->
											<div class="col-12">
												<div class="reviews">
													<div class="reviews__list">
														<div class="reviews__item reviews__item--silver">
															<div class="reviews__author">
																<span class="reviews__name">Great Concept, But Lacks Depth</span>
																<span class="reviews__time">OceanVoyager — May 20, 2025, 6:12 PM</span>

																<span class="reviews__rating reviews__rating--silver">7</span>
															</div>
															<p class="reviews__text">I love the idea behind the ocean energy technology, but the execution felt a little too rushed at times. Still, the visuals were impressive and the plot had potential. Would’ve liked to see more world-building.</p>
														</div>

														<div class="reviews__item reviews__item--gold">
															<div class="reviews__author">
																<span class="reviews__name">Riveting Until the End</span>
																<span class="reviews__time">GreenTechFan — May 20, 2025, 7:05 PM</span>

																<span class="reviews__rating reviews__rating--gold">9</span>
															</div>
															<p class="reviews__text">The last 30 minutes were pure tension! The storyline was gripping, and the concept of ocean energy was so timely. Minor flaws with pacing, but overall a must-see for sci-fi lovers. A bit slow in parts, but totally worth it.</p>
														</div>

														<div class="reviews__item reviews__item--bronze">
															<div class="reviews__author">
																<span class="reviews__name">A Solid Thriller, But Misses the Mark</span>
																<span class="reviews__time">DeepBlueRider — May 20, 2025, 8:30 PM</span>

																<span class="reviews__rating reviews__rating--bronze">5</span>
															</div>
															<p class="reviews__text">While the film touches on important issues like renewable energy, it doesn’t dive as deep as I hoped. Some great moments of suspense, but it often felt like it was just scratching the surface. Good watch for casual viewers, though.</p>
														</div>
													</div>

													<form action="#" id="add-review" class="sign__form sign__form--reviews">
														<div class="row">
															<div class="col-12 col-md-6">
																<div class="sign__group">
																	<span class="sign__label">Title</span>
																	<input name="titlereview" type="text" class="sign__input" placeholder="Short review title">
																</div>
															</div>

															<div class="col-12 col-md-6">
																<div class="sign__group">
																	<span class="sign__label">Rating</span>
																	<div class="rating">
																		<input value="10" name="rate" id="star10" type="radio">
																		<label title="10" for="star10"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 8h1v8"/><path d="M14 10v4a2 2 0 1 0 4 0v-4a2 2 0 1 0 -4 0"/></svg></label>

																		<input value="9" name="rate" id="star9" type="radio">
																		<label title="9" for="star9"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-6a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3"/></svg></label>

																		<input value="8" name="rate" id="star8" type="radio">
																		<label title="8" for="star8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12h-1a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1zh-1a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1"/></svg></label>

																		<input value="7" name="rate" id="star7" type="radio">
																		<label title="7" for="star7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 8h4l-2 8"/></svg></label>

																		<input value="6" name="rate" id="star6" type="radio">
																		<label title="6" for="star6"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3"/></svg></label>

																		<input value="5" name="rate" id="star5" type="radio">
																		<label title="5" for="star5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3v-4h4"/></svg></label>
																	</div>
																</div>
															</div>

															<div class="col-12">
																<div class="sign__group">
																	<span class="sign__label">Review</span>
																	<textarea id="textreview" name="textreview" class="sign__textarea" placeholder="Write your review"></textarea>
																</div>
															</div>

															<div class="col-12">
																<button type="button" class="sign__btn sign__btn--small"><span>Send</span></button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<!-- end reviews -->
										</div>
									</div>
								</div>
							</div>
							<!-- end tabs content -->
						</div>
					</div>
				</div>
				<!-- end tabs -->
				 {% endblock %}